
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mail solution</title>
</head>

<body style=" background:url(http://quangcaonewsletter.com/resources/images/phapluattp1/bg.jpg) 0 0 repeat; width:100%; height:100%; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; list-style:none; border:none;">
<div style="background:#fff; width:650px; margin:0 auto; padding:0;">
    <div style="width:650px; height:auto; background:url(http://quangcaonewsletter.com/resources/images/phapluattp1/bg_top_header.jpg) center top no-repeat; margin:0; padding:0; " >
        <div style="width:100%; background:url(http://quangcaonewsletter.com/resources/images/phapluattp1/bg_bottom.jpg) center bottom no-repeat; min-height:100px;margin:0; padding:0 0 7px 0;">
            <div style=" float:left; padding-top:80px; overflow:hidden;">
                <h4 style="text-indent:40px; font-weight:bold; font-size:14px">Chào bạn! <span style="color:#ff0004;">nguyenthithutam</span></h4>
                <p style="padding-left:20px; font-weight:600;">
                    Thay mặt Báo Pháp Luật TPHCM online xin gửi lời chào đến <span style="color:#ff0004;">tên mail</span> lời chúc sức khoẻ, hạnh phúc và
                    thành công. Xin trân trọng cảm ơn <span style="color:#ff0004;">tên mail</span> đọc tìn trên báo pháp luật trong thời gian qua.
                </p>
                <h4 style="background:url(http://quangcaonewsletter.com/resources/images/phapluattp1/bg_tintuc_title.png) left top no-repeat; font-size:14px; font-weight:600; height:30px; line-height:30px; padding-left:10px; margin-left:20px;">BẢN TIN BÁO PHÁP LUẬT - 12/04/2012 </h4>
            </div>
            <div style="width:610px; padding:0 20px; margin:0; float:left;">
                <div style="list-style:none; margin:0; padding:0; width: 400px; float:left;">
                    &nbsp;
                    <ul id="list" style="margin:0; padding:0;">

                    </ul>

                </div>
                <div style="list-style:none; margin:0; margin-top: 20px; padding:0; width: 210px; float:left;">
                    <ul style="margin: 0; width:200px; padding-left: 10px; margin: 5px 0 0 0;">
                        <h2 style="margin:0;"> Link tiện ích </h2>
                        <li style="list-style-type:none; margin: 10px; background:url(http://quangcaonewsletter.com/resources/images/phapluattp1/tc.png) left top no-repeat;">
                            <a href="#" style="color:#000; text-decoration:none; font-weight: bold; font-size: 12px; margin-left:25px; display: block;">Tạp chí pháp luật</a>
                        </li>
                        <li style="list-style-type:none; margin: 10px; background:url(http://quangcaonewsletter.com/resources/images/phapluattp1/sk.png) left top no-repeat;">
                            <a href="#" style="color:#000; text-decoration:none; font-weight: bold; font-size: 12px; margin-left:25px; display: block;">Tạp chí súc khoẻ và gia đình </a>
                        </li>
                        <li style="list-style-type:none; margin: 10px; background:url(http://quangcaonewsletter.com/resources/images/phapluattp1/icon_vanban.jpg) left top no-repeat;">
                            <a href="#" style="color:#000; text-decoration:none; font-weight: bold; font-size: 12px; margin-left:25px; display: block;">Văn bản phấp luật </a>
                        </li>
                        <li style="list-style-type:none; margin: 10px; background:url(http://quangcaonewsletter.com/resources/images/phapluattp1/hotro-icon.png) left top no-repeat;">
                            <a href="#" style="color:#333; text-decoration:none; font-weight: bold; font-size: 12px; margin-left:25px;display: block;"> Việc làm </a>
                        </li>
                        <li style="list-style-type:none; margin: 10px; background:url(http://quangcaonewsletter.com/resources/images/phapluattp1/paper.png) left top no-repeat;">
                            <a href="#" style="color:#000; text-decoration:none; font-weight: bold; font-size: 12px; margin-left:25px; display: block;"> Paper </a>
                        </li>
                    </ul>
                    <ul style="margin: 0; width:200px; padding-left: 10px;">
                        <li style="list-style-type:none;">
                            <a href="#"><img src="http://quangcaonewsletter.com/resources/images/phapluattp1/Diendan.gif" width="200" height="100" /></a>
                        </li>
                        <li  style="list-style-type:none;">
                            <a href="#"><img src="http://quangcaonewsletter.com/resources/images/phapluattp1/Hoc-Tieng-Anh.gif" width="200" height="133" /> </a>
                        </li>
                        <li style="list-style-type:none;">
                            <a href="#"><img src="http://quangcaonewsletter.com/resources/images/phapluattp1/Hoi---Dap.gif" width="200" height="100" /></a>
                        </li>
                        <li style="list-style-type:none;">
                            <a href="mail-solutions.net/"><img src="http://quangcaonewsletter.com/resources/images/phapluattp1/mail_solution.gif" width="200" height="200" /></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="float: left; margin-left: 20px; color:#000; font-weight:bold;">Hãy đến với <strong style="color:#F00;">phapluattp.vn </strong>để cập nhật tin tức hàng ngày một cách nhanh chóng và chính xác nhất
                <p style="color:#F00; font-size:20px; font-weight:bold; text-align:center; text-shadow: 0pt -1px 0pt rgba(59, 82, 11, 0.2), 0pt 1px 0pt rgb(153, 153, 153);">UY TÍN - CHẤT LƯỢNG</p>
            </div>
            <div style="float: left; margin-left: 20px; margin-top: 10px; color:#999;">
                © Pháp luật TPHCM Online. Cơ quan chủ quản: Sở tư pháp Thành phố Hồ Chí Minh <br />
                Tổng biên tập: Phạm Phú Tâm. Tòa soạn 34 Hoàng Việt, Phường 4, Quận Tân Bình, TPHCM<br />
                Tổng đài: (08)39910101 - 39914701;  Fax: 39914661; Email:baophapluat@phapluattp.vn
            </div>
            <div style="clear:both;">
            </div>
        </div>
    </div>
</div>
</body>
</html>
